@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
    /* position: relative; */
    background-color:rgb(45, 27, 95);
    margin: 0; 
    transition: background-color 1s ease-in-out;
    
}

header {
    position: absolute;
    font-family: "Varela Round";
    color: rgba(191, 123, 255, 0.781); /* Set the color with alpha channel */
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
    z-index: 999; /* Ensure the header appears above other elements */
    text-shadow: 0 0 0.5em var(--glow-color);
    transition: all 0.3s;
    padding-bottom: 20px;
}

header:hover {
    color:rgb(217, 176, 255);
    text-shadow: 0 0 0.5em var(--glow-color), 0 0 4em var(--glow-spread-color);
}


main {
    position: absolute;
    width: 50rem;
    height: 30rem;
    top: 10%;
    left: 18rem;
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(70px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
}
.spinner-container {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 250px auto;
    overflow: hidden;
  }
  
  .spinner {
    position: absolute;
    width: calc(100% - 9.9px);
    height: calc(100% - 9.9px);
    border: 5px solid transparent;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.79) infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

.timer {
    font-family: 'Varela Round';
    font-size: 130px;
    color:rgb(243, 243, 243);
    position: relative;
    top : 10%;
    left: 77%;
    transform: translateX(-50%); 
    display: flex;
    flex-direction: column;
}

.timesel {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 15px;
} 

.navbtn {
    position: relative;
    left: -3.5rem;
}

button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 0.8em 1em;
    color: var(--glow-color);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 125%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }


.begin {
    margin-top: 15px;
    padding: 0.8em 1.5em; 
    width: 30rem;
    position: relative;
    left: -3.3rem;
}

.information {
    position: absolute;
    /* display: grid;
    place-items: center;
    align-items: center; */
    min-height: 100vh;
    top: 100vh; /* Position it below the initial screen */
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    left: 0;
    width: 100%;
    color: #ffffff;
    background-color: #131316; /* Background color */
    padding: 20px;
    padding-left: 280px;
    padding-right: 300px;
    box-sizing: border-box;
    text-align: justify;
}

p, 
ul,
li {
    font-size: 18px;
}

.navigator {
    /* position: fixed; */
    display: flex;
    gap: 100px;
    left: 0rem;
    bottom: 0;
    background-color: #131316; /* Set background color */
    width: 100%;
    padding: 10px;
}

a {
    color: grey; /* Set text color */
    text-decoration: none; /* Remove underline */
    font-family: 'Varela Round';
    font-size: 18px;
}

a:hover {
    color: rgba(148, 116, 235, 0.849); /* Change color on hover */
}
.animated-text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.animate-in {
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.love {
    font-family: 'Varela Round';
    font-size: 16px;
    left: -10rem;   
    color: grey;
    display: flex;
    flex-direction: row;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


/* DIFFERENT SCROLLBAR */

body::-webkit-scrollbar{
    width: 0.35rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background:#6649b8;
}


#display {
    user-select: none; /* Prevent text selection */
}
